<div id="navbar-container">
  <app-navbar></app-navbar>
</div>

<div id="login-container">
  @if (isLoadingSignIn) {
    <div class="loading-spinner-overlay">
      <!--      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
    </div>
  }
  <div id="login-box" class="mat-elevation-z4">
    <div id="left">
      <div class="text-grp">
        <h1 class="login-title">Đăng Ký</h1>
      </div>
      <form [formGroup]="signupForm">
        <div class="btn-grp">
          <div id="signInWithGoogle">
            <button
              mat-stroked-button
              color="primary"
              class="login"
              type="button"
              (click)="signInWithGoogle()"
            >
              <img src="/public/assets/logo/google_logo.png" id="google-logo" />
              Sign in with Google
            </button>
          </div>

        </div>
        <h6>-OR-</h6>
        <div id="form1">
          <mat-form-field appearance="outline">
            <mat-label>Số Điện Thoai</mat-label>
            <input matInput formControlName="numberPhone" placeholder="SĐT" />
            @if (signupForm.get("numberPhone")?.invalid) {
              <mat-error>SĐT không hợp lệ</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tên</mat-label>
            <input matInput formControlName="name" placeholder="Tên" />
            @if (signupForm.get("name")?.invalid) {
              <mat-error>Tên không hợp lệ</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
            @if (signupForm.get("email")?.invalid) {
              <mat-error>Email không hợp lệ</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tên Đăng Nhập</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
            @if (signupForm.get("email")?.invalid) {
              <mat-error>Tên đăng nhập không hợp lệ</mat-error>
            }
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              type="password"
              autocomplete="off"
            />
            @if (signupForm.get("password")?.invalid) {
              <mat-error>Mật khẩu không hợp lệ</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="btn-submit">
          <button
            mat-flat-button
            color="primary"
            class="login-submit"
            (click)="signInWithStaticUser()"
            [disabled]="signupForm.invalid"
            type="submit"
          >
            Đăng Ký
          </button>
          <button
            mat-flat-button
            color="primary"
            class="login-submit"
            (click)="signInWithStaticUser()"
            [disabled]="signupForm.invalid"
            type="submit"
          >
            Hủy Bỏ
          </button>
        </div>
        <div id="signup">
          <h5 (click)="navigate('/login')">
            Already have an account?
            <span class="highlight"
            >Sign in</span>
          </h5>
        </div>
      </form>
    </div>
    <div id="right">
      <img [src]="'../../../../public/assets/logo/image.png'" alt="background" />
    </div>

  </div>
</div>

