.Product-page {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.product-top {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: right;
  background: url(/public/assets/images/hero-ng.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 60%;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 48px;
  color: #fbfbfb;
  text-transform: uppercase;
}

.intro p {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 400px;
  color: #fbfbfb;
  line-height: 24px;
  font-weight: 600;
}

.intro-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.main {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: rgb(192, 192, 192, 0.2);
  border-radius: 8px;
  margin-right: 40px;
}

.sidebar h5 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}

.product-top {
  flex: 1;
  padding: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.product-card {
  width: 200px;
  text-align: center;
  border: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  transition: box-shadow 0.2s, transform 0.2s;
}

.product-card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.product-card_price {
  font-weight: bold;
}

.pagination {
  margin-top: 40px;
  text-align: center;
}

.pagination a {
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #eee;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}
