<div class="Product-page">
    <div class="product-container">
      <div class="product-top">
        <div class="intro">
          <h1>Áo Nam</h1>
          <p>
            Áo nam đẹp, kiểu dáng thanh lịch cùng chất liệu cao cấp sẽ giúp bạn
            xây dựng phong cách lịch lãm, thu hút mọi ánh nhìn
          </p>
        </div>
      </div>
  
      <div class="main">
        <aside class="sidebar">
          <h5>BỘ SƯU TẬP</h5>
          <ul>
            <li>IKIGAI</li>
            <li>KAIZEN</li>
            <li>BE CONFIDENT</li>
            <!--THÊM DANH MỤC CẦN THIẾT-->
          </ul>
  
          <h5>ÁO</h5>
          <ul>
            <li>Áo sơ mi</li>
            <li>Áo T-Shirt</li>
            <li>Áo khoác</li>
            <li>Áo hoodie</li>
            <li>Áo thun</li>
            <li>Áo polo</li>
          </ul>
  
          <h5>Quần</h5>
          <ul>
            <li>Quần tây</li>
            <li>Quần short</li>
            <li>Quần jogger</li>
            <li>Quần jeans</li>
            <li>Quần kaki</li>
            <li>Quần thể thao</li>
          </ul>
        </aside>
        <div class="products">
          <div class="products-container">
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
          </div>
          <div class="product-card">
            <img src="/public/assets/images/product-1.png" alt="" />
            <p>Áo Thun</p>
            <p class="product-card_price">200.000đ</p>
          </div>
          <div class="product-card">
            <img src="/public/assets/images/product-1.png" alt="" />
            <p>Áo Thun</p>
            <p class="product-card_price">200.000đ</p>
          </div>
          <div class="product-card">
            <img src="/public/assets/images/product-1.png" alt="" />
            <p>Áo Thun</p>
            <p class="product-card_price">200.000đ</p>
          </div>
          <!--THÊM SẢN PHẨM CẦN THIẾT-->
        </div>
        <div class="pagination">
          <a href="#"><</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">></a>
        </div>
      </div>
    </div>
  </div>
</div>