<div class="Home-page">
    <div class="home-container">
      <div class="home-top">
        <img src="public/assets/images/image_top.png" alt="" />
      </div>
      <div class="products">
        <div class="home-content_title">
          <h1>Tất cả sản phẩm</h1>
        </div>
  
        <div class="category">
          <div class="category-header">
            <h3>Áo Thun</h3>
            <a href="#">Xem thêm</a>
          </div>
  
          <div class="products-container">
            <!-- Product Item -->
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Áo Thun</p>
              <p class="product-card_price">200.000đ</p>
            </div>
  
            <!-- Product Item -->
          </div>
  
          <div class="category-header">
            <h3>Quần</h3>
            <a href="#">Xem thêm</a>
          </div>
          <div class="products-container">
            <!-- Product Item -->
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Quần</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Quần</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Quần</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <div class="product-card">
              <img src="/public/assets/images/product-1.png" alt="" />
              <p>Quần</p>
              <p class="product-card_price">200.000đ</p>
            </div>
            <!-- Product Item -->
          </div>
        </div>
      </div>
      <div class="home-bottom">
        <h1>LỊCH LÃM THỜI TRANG</h1>
      </div>
    </div>
  </div>

