.Home-page {
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.home-top {
  max-width: 100%;
  height: 450px;
}

.home-top img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.products {
  padding: 40px;
  text-align: center;
}

.home-content_title h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.category {
  margin-bottom: 40px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10%;
}

.category-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.category-header a {
  font-size: 20px;
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 10%;
  margin: 30px 0;
}

.product-card {
  width: 200px;
  text-align: center;
  border: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  transition: box-shadow 0.2s, transform 0.2s;
}

.product-card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.product-card_price {
  font-weight: bold;
}

.home-bottom {
  background: linear-gradient(to top, #78a9d1, #d1e6f7);
  padding: 40px;
  text-align: center;
  height: 150px;
}

.home-bottom h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fbfbfb;
}
